.c-icon {
    background-repeat: no-repeat;
    background-size: 21px;
    height: 21px;
    width: 21px;
    border: none;
    display: inline-block;
    position: relative;
    top: 6px;
    margin-right: 6px;
}