---
import SectionTitle from "@/components/ui/section-title.astro";
import { EXPERIENCES } from "@/lib/constants/experience";
import ExperienceItem from "./experience-item.astro";
---

<section>
  <SectionTitle title="Experience" n={1} />
  <div style="padding-top: 8px;">
    {EXPERIENCES.map((experience, i) => (
      <ExperienceItem
        experience={experience}
        isLast={i === EXPERIENCES.length - 1}
        isEven={i % 2 === 1}
      />
    ))}
  </div>
</section>
