---
import SectionTitle from "@/components/ui/section-title.astro";
import DashedLine from "@/components/ui/dashed-line.astro";
import { EXPERIENCES } from "@/lib/constants/experience";
import ExperienceItem from "./experience-item.astro";
---

<section>
  <SectionTitle title="Experience" />
  {EXPERIENCES.map((experience, i) => (
    <ExperienceItem
      experience={experience}
      isLast={i === EXPERIENCES.length - 1}
      isEven={i % 2 === 1}
    />
  ))}
</section>
