.p-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  &__title {
    margin: 0;
  }

  &__button {
    background-repeat: no-repeat;
    background-size: 28px;
    height: 28px;
    width: 28px;
    border: none;
  }

  &__button:focus {
    outline: 0;
  }
}