---
import Layout from "@/layouts/layout.astro";
import Navbar from "@/components/navbar/index.astro";
import Footer from "@/components/footer.astro";
import Pattern from "@/components/ui/pattern.astro";
import Header from "@/components/header.astro";
import Profile from "@/components/sections/profile.astro";
import TechStack from "@/components/tech-stack.astro";
import Experience from "@/components/sections/experience/experience.astro";
import Education from "@/components/sections/education/education.astro";
---

<Layout title="Łukasz Rej | Frontend">
  <Navbar />

  <main
    aria-label="Main content"
    class="mx-auto min-h-[calc(100vh-120px)] max-w-3xl"
  >
    <Pattern className="h-14" />
    <Header />
    <Pattern />
    <Profile />
    <Pattern />
    <TechStack />
    <Pattern />
    <Experience />
    <Pattern />
    <Education />
    <Pattern />
  </main>

  <Footer />
</Layout>
