---
import Layout from "@/layouts/layout.astro";
import Navbar from "@/components/navbar/index.astro";
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import TechStack from "@/components/tech-stack.astro";
import Experience from "@/components/sections/experience/experience.astro";
import Education from "@/components/sections/education/education.astro";
---

<Layout title="Łukasz Rej | Frontend">
  <Navbar />

  <main
    aria-label="Main content"
    class="mx-auto max-w-[720px] px-[clamp(16px,4vw,24px)] md:border-x"
  >
    <Header />
    <Experience />
    <TechStack />
    <Education />
    <Footer />
  </main>
</Layout>
