---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<h2
  class:list={[
    "relative inline-block text-2xl font-black font-semibold",
    "after:absolute after:bottom-[-3px] after:left-0",
    "after:h-[2px]",
    "after:w-[180%]",
    "after:bg-gradient-to-r after:from-lime-500 after:to-yellow-100",
    "dark:after:from-cyan-100 dark:after:to-cyan-900",
    "after:-z-10 after:rounded-sm after:opacity-65",
    className,
  ]}
>
  <slot />
</h2>
