---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<h2
  class:list={[
    "relative inline-block text-2xl font-semibold text-slate-500",
    "after:absolute after:bottom-1 after:left-0",
    "after:h-2 after:w-full",
    "after:bg-gradient-to-r after:from-orange-500 after:to-amber-400",
    "after:-z-10 after:rounded-sm after:opacity-30",
    className,
  ]}
>
  <slot />
</h2>
