---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class:list={[
    "relative flex h-4 w-full md:border-x",
    "before:absolute before:-left-[100vw] before:h-full before:w-[200vw]",
    // 3 thin lines, then empty space
    "before:bg-[image:repeating-linear-gradient(to_bottom,var(--pattern-foreground)_0_1px,transparent_1px_6px,var(--pattern-foreground)_6px_7px,transparent_7px_12px,var(--pattern-foreground)_12px_13px,transparent_13px_40px)]",
    "before:bg-[size:100%_40px]",
    "before:[--pattern-foreground:var(--color-black)]/5 dark:before:[--pattern-foreground:var(--color-white)]/5",
    className,
  ]}
>
  <slot />
</div>
